<div class="d-flex flex-column">
  <div class="d-flex justify-content-center">
  <a routerLink="/contacts"><i class="bi bi-person-lines-fill text-black m-md-4 m-2" style="font-size: 8rem"></i></a>
  <a routerLink="/whatsapp"><i class="bi bi-whatsapp text-success m-md-4 m-2" style="font-size: 8rem"></i></a>
  </div>
  <div class="d-flex justify-content-center">
  <i class="bi bi-calculator text-warning m-md-4 m-2" style="font-size: 8rem"></i>
  <i class="bi bi-list-task text-primary m-md-4 m-2" style="font-size: 8rem"></i>
  </div>
</div>
